body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*               header                      */

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
}
.header-navigation {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.header-logo span {
  color: #2e2f42;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}
.header-menu-list {
  gap: 40px;
  display: flex;
}
.header-menu-item {
}
.header-menu-link {
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-comtact-link:hover,
.header-comtact-link:focus {
  color: #404bbf;
}
.header-comtact {
  font-style: normal;
}
.header-comtact-list {
  gap: 40px;
  display: flex;
}
.header-comtact-item {
}
.header-comtact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*               hero                      */

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-wrap {
}
.hero-title {
  padding-bottom: 48px;
  margin: 0 auto;
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.hero-btn {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*               advantages                      */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-title {
}
.advantages-list {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}
.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-item-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*               team                      */

.team {
  background-color: #f4f4fd;
}
.team-title {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  gap: 24px;
  display: flex;
  padding-bottom: 120px;
}
.team-list-item {
  background-color: #ffffff;
}
.team-images {
}
.team-name-title {
  padding-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-specifics {
  padding-top: 8px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*               portfolio                      */

.portfolio {
}
.portfolio-title {
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 120px;
  column-gap: 60px;
  row-gap: 60px;
}
.portfolio-item {
  width: calc((100% - 60px * 2) / 3);
  position: relative;
  overflow: hidden;
}
.portfolio-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e7e9fc;
  z-index: -1;
}
.portfolio-item img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}
.portfolio-images {
}
.portfolio-images-title {
  padding-left: 16px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-images-text {
  padding-bottom: 32px;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*               footer                      */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-span {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
